.appBackground {
   
    background-image: url("cinema.png");
	width: 100%;
	height: 190vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
  }
.seatSelection {
  text-align: center;
  padding: 5px;
  margin: 15px;}

.seatsReceipt {text-align: center;}

.seatNumber {
	display: inline;
	padding: 10px;
	background-color: #267082;
	color: #FFF;
	border-radius: 5px;
	cursor: default;
	height: 25px;
	width:  25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
 }

.seatRow {
	padding: 10px;
}

.seatSelected {
	background-color: #FFB936;
	color: black;
 }


.seatUnavailable {
	background-color: #63130E;
	cursor: no-drop;}

.seatRowNumber {
	clear: none;
	display: inline;
 }

.hidden {display: none;}

.seatsAmount {max-width: 2em;}
