.container {
    
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}
.seatSelection {
  text-align: center;
  padding: 1%;
  margin: 3%;}

.seatsReceipt {text-align: center;}

.perde{

size: 16px;	
}
.seatNumber {
	display: inline;
	padding: 0.7%;
	background-color: #267082;
	color: #FFF;
	border-radius: 18%;
	cursor: default;
	line-height: 25%;
	text-align: center;
	cursor: pointer;
 }

.seatRow {
	padding: 1%;
}

.seatSelected {
	background-color: #FFB936;
	color: black;
 }


.seatUnavailable {
	background-color: #63130E;
	cursor: no-drop;}

.seatRowNumber {
	clear: none;
	display: inline;
 }

.hidden {display: none;}

.seatsAmount {max-width: 2em;}
